<!DOCTYPE html>
<html>
    <head>
        {% block title %} {% endblock %}
        <link rel = "stylesheet" type = "text/css" href = {{ url_for("static", filename = "css/base.css") }}>
        <style>
            .content {
                margin: auto;
                width: 60%;
                border: 5px solid #30422d;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class = "content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
    