<!DOCTYPE html>
<html>
    <head>
        {% block title %} {% endblock %}
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/base.css") }}>
    </head>
    <body>
        <div class="topnav">
            <a class="navbutton" href={{ url_for('main') }}>Kobaza</a>
            <div class="topnav-centered">
                <form action={{ url_for('search_ds') }} method="POST">
                    <input type="text" name="searchbar" placeholder="Search">
                </form>
            </div>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
    