{% extends 'base.html' %}

{% block title %} <title>Kobaza: Upload Dataset</title> {% endblock %}

{% block content %}
	<h1>Dataset Upload:</h1>
	<div class='data_upload_form'>
		<form action={{ url_for('handle_dataset_upload') }} method="POST" enctype = "multipart/form-data">
			<label for="raw_file"><p><b>File:</b> (allowed file extensions: {{ ', '.join(allowed_filetypes) }})</p></label>
			<input type="file" id="raw_file" name="raw_file">
			<h2>Basic Meta-attributes:</h2>
				<label for="name"><p><b>Name:</b> What is the name of this dataset?</p></label>
				<input type="text" id="name" name="name" placeholder="enter here ..."{{ ' value=' + prefilled_metavars['name'] if prefilled_metavars['name'] else '' }} required="required"><br><br>
				<label for="ds_source"><p><b>Data Source:</b> Where can this dataset originally be found? (URL)</p></label>
				<input type="url" id="ds_source" name="ds_source" placeholder="enter here ..."{{ ' value=' + prefilled_metavars['ds_source'] if prefilled_metavars['ds_source'] else '' }} required="required"><br><br>
				<label for="last updated"><p><b>Last Modified:</b> When was the last time this data set was updated (or when was it created)?</p></label>
				<input type="date" id="last updated" name="last updated"{{ ' value=' + prefilled_metavars['last updated'] if prefilled_metavars['last updated'] else '' }} required="required"><br><br>
			<h2>Data Meta-attributes:</h2>
				<h3>Context:</h3>
					<label for="domain"><p><b>Domain:</b> To what domain or field does this data belong? e.g. finance, climate, logistics, natural language processing, sociology etc.</p></label>
					<textarea id="domain" name="domain" rows="4" cols="50" placeholder="enter here ..." required="required">{{ prefilled_metavars['domain'] if prefilled_metavars['domain'] else '' }}</textarea><br><br>
					<label for="process"><p><b>Process:</b> What sort of processes or actions within the domain is the data describing? e.g. facial recognition, sales performed, time series, customer service chatlogs etc.</p></label>
					<textarea id="process" name="process" rows="4" cols="50" placeholder="enter here ..." required="required">{{ prefilled_metavars['process'] if prefilled_metavars['process'] else '' }}</textarea><br><br>
					<label for="situation"><p><b>Situation:</b> What other things define the situation or environment under which this data was produced? e.g. location, entities involved, time period etc.</p></label>
					<textarea id="situation" name="situation" rows="4" cols="50" placeholder="enter here ..." required="required">{{ prefilled_metavars['situation'] if prefilled_metavars['situation'] else '' }}</textarea><br><br>
				<h3>Variables:</h3>
					{% for i in range(1, vars + 1) %}
						<label for="varname{{ i }}"><p><b>Variable #{{ i }} Name:</b> What is the name of this variable?</p></label>
						<input type="text" id="varname{{ i }}" name="varname{{ i }}" placeholder="enter here ..."{{ ' value=' + prefilled_metavars['varname%s' % i] if prefilled_metavars['varname%s' % i] else '' }} required="required"><br><br>
						<label for="vardesc{{ i }}"><p><b>Variable #{{ i }} Description:</b> What is this variable? Is it a fact or dimension? What information does it encode? How is it parsed?</p></label>
						<textarea id="vardesc{{ i }}" name="vardesc{{ i }}" rows="4" cols="50" placeholder="enter here ..." required="required">{{ prefilled_metavars['vardesc%s' % i] if prefilled_metavars['vardesc%s' % i] else '' }}</textarea><br><br>
					{% endfor %}
					<button type='submit' id='add_var_button' formaction={{ url_for('upload_dataset', vars = vars + 1) }}><p>add variable</p></button>
				<h3>Size:</h3>
					<label for="rows"><p><b>Number of Datapoints:</b> How many data points (i.e. rows, images, documents) are in this dataset?</p></label>
					<input type="number" id="rows" name="rows" placeholder="enter here ..."{{ ' value=' + prefilled_metavars['rows'] if prefilled_metavars['rows'] else '' }} required="required"><br><br>
					<label for="description"><p><b>Description:</b> misc. information about the size of the dataset. unit of number above; sparsity or fullness of data; resolution of dimensions etc.</p></label>
					<textarea id="description" name="description" rows="4" cols="50" placeholder="enter here ..." required="required">{{ prefilled_metavars['description'] if prefilled_metavars['description'] else '' }}</textarea><br><br>
			<input type="submit" id='submit_matavars' value="Submit">
		</form>
	</div>
{% endblock %}