:root {
    --background_color: #1d1d1d;
    --text_color: #d8d8d8;
    --accent_color: #30422d;
    --pop_color: #ffffff;
    --link_link_color: #2483ff;
    --link_visited_color: #c66bff;
    --link_hover_color: #00dce8;
    --warning_color: #cf6679;
}


* {
    font-family: monospace;
}

.flashes p {
    color: var(--warning_color);
}

html {
	height: 100%;
}

body {
    background-color: var(--background_color);
	height: calc(100vh - 57px); /* this is really bad. i dont care about css so ill still do it though */
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--text_color);
}

ul li {
    list-style-type: none;
}

a:link {
    color: var(--link_link_color);
}
a:visited {
    color: var(--link_visited_color);
}
a:hover {
    color: var(--link_hover_color);
}

.content { 
    /* margin: auto; */
	margin-left: auto;
	margin-right: auto; 
    width: 60%; 
    border: 5px solid var(--accent_color);
    border-top: 0px;
    padding: 10px; 
	grid-row-start: 1;
	grid-row-end: 2;
}

.topnav { 
    overflow: hidden; 
    background-color: var(--accent_color); 
}
.topnav .navbutton { 
    display: block; 
    color: var(--pop_color); 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 17px; }
.topnav .navbutton:hover {
    background-color: var(--background_color);
    color: var(--pop_color);
  }
.topnav #home_button {
    float: left;
}
.topnav #upload_button {
    float: right;
}
.topnav input[type=text] {
    display: block;
    width: 40%;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    color: var(--text_color);
    background-color: var(--background_color);
}
.topnav-centered input[type=text] {
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

#content_wrapper {
	min-height: 100%;
	display:grid;
	grid-template-rows: 1fr auto;
}

.botnav {
	bottom: 0;
	grid-row-start: 3;
	grid-row-end: 4;
}

.searchResult {
    padding: 10px;
    border: 3px solid var(--accent_color);
}
/* .searchResult:hover {
    background-color: var(--accent_color);
    border: 3px solid var(--accent_color);
} */
.searchResult:hover h1{
    text-decoration: underline;
    color: var(--link_hover_color);
}
.searchResult a {
    text-decoration: none;
}

.data_upload_form input, textarea{
    background-color: var(--background_color);
    color: var(--pop_color);
}
.data_upload_form #add_var_button, #submit_matavars{
    background-color: var(--accent_color);
}